.btnCode {
    background:transparent url(../js/syntaxhighlighter/code.gif) no-repeat 16px 16px;
    background-position:2px 2px;
}

.btnFlv {
    background:transparent url(../js/mediaplayer/flv.gif) no-repeat 16px 16px;
    background-position:2px 2px;
}

.btnMap {
    width:50px !important;
    background:transparent url(../js/googlemap/map.gif) no-repeat center center;
}
