<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
      adaptable="true"
            id="SerializationCodeGenerator.contribution1"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               id="SerializationCodeGenerator.menu1"
               label="Serialization Code Generator"
               path="generate">
            <separator
                  name="序列化">
            </separator>
         </menu>
         <action
               class="com.easymode.eclipse.serialization.popup.actions.NewAction"
               enablesFor="1"
               id="SerializationCodeGenerator.newAction"
               label="generate"
               menubarPath="SerializationCodeGenerator.menu1/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
