<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
   	<listener>
        <listener-class>tech.listener.StartUpServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>HTTPRequestDispatcher</servlet-name>
        <servlet-class>tech.listener.HTTPRequestDispatcher</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>HTTPRequestDispatcher</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>StaticResourceFilter</filter-name>
        <filter-class>tech.listener.StaticResourceFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>StaticResourceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- Error Pages -->
    <error-page>
        <error-code>404</error-code>
        <location>/error/404.html</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error/403.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error/500.html</location>
    </error-page>
</web-app>