/* CSS Document */
body
{
	background-color:#EEE;
	margin:0px;
	text-align:center;
}

.main_top
{
	background-color:#333;
	height:40px;
	width:auto;
	margin-left:0px;
	margin-right:0px;
}
.main_container
{
	width:1000px;
	min-height:600px;
	background-color:#FFF;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto
}